.main {
  min-height: 100vh;
}

.background {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.background > * {
  opacity: 0.5;
  height: 25vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 800px) {
  .background {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .background > * {
    height: 50vh;
    width: 50%;
  }
}

.logo {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  width: 250px;
  z-index: 10;
}

.insta {
  display: inline-block;
  width: 40px;
}

.insta svg {
  fill: white;
}
